
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
  
  .service-box {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    max-width: 300px;
  }
  
  .service-box img {
    max-width: 100%;
  }
  
  .new-coming {
    text-align: center;
    padding: 20px;
  }
  /* footer */
  footer {
    background-color: #350000;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  /* menu */
  
  
  .menu {
    background-color: #350000;
    color: #fff;
    padding: 10px;
  }
  
  .menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
  }